body {
    font-family: 'Roboto Mono', monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.auth-body {
    background-color: #22b4a8;
    padding: 0px;
    margin: 0px;
}

.body {
    padding: 0px;
    margin: 0px;
}

#app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.navbar {
    padding: 20px 25px 20px 25px;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-btn {
    text-decoration: none;
    font-size: large;
    color: #6200EE;
    font-weight: 600;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.nav-link {
    text-transform: uppercase;
    border-color: #6200EE;
    background-color: #f3ebff;
    border-radius: 3px;
}

.nav-link-auth {
    margin-right: 55px;
}

.nav-link:hover {
    border-color: #000000;
    color: #000000;
}

.navbar-brand:hover {
    color: #22b4a8;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}

.index-content {
    font-size: 50px;
    color: #636b6f;
}

.auth-navbar {
    box-shadow: 0px 1px 1px #d3e0e9;
    background-color: #ffffff;
    position: fixed;
    width: 100vw;
}

.auth-main {
    margin-top: 30vh;
}

.auth-container {
    background-color: #ffffff;
    margin: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 100vh;
}

.auth-image {
    height: 100vh;
    width: 50%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: 1;
}

.auth-content {
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-header {
    font-size: large;
    text-transform: uppercase;
    align-content: center;
    margin-bottom: 20px;
}

.card-body {
    align-self: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 18px;
    padding: 10px 20px 10px 20px;
}

.btn-primary {
    color: #ffffff;
    background-color: #6200EE;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.forgot-password-btn {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1090px) {
    .auth-container {
        background-color: #ffffff;
        margin: 50px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    .auth-image {
        height: 50vh;
        width: 50%;
        border-radius: 0px;
        flex: 1;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
}
