body {
    font-family: 'Roboto Mono', monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.auth-body {
    background-color: #22b4a8;
    padding: 0px;
    margin: 0px;
}

.body {
    padding: 0px;
    margin: 0px;
}

#app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.navbar {
    padding: 20px 25px 20px 25px;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-btn {
    text-decoration: none;
    font-size: large;
    color: #6200EE;
    font-weight: 600;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.nav-link {
    text-transform: uppercase;
    border-color: #6200EE;
    background-color: #f3ebff;
    border-radius: 3px;
}

.nav-link-auth {
    margin-right: 55px;
}

.nav-link:hover {
    border-color: #000000;
    color: #000000;
}

.navbar-brand:hover {
    color: #22b4a8;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}

.index-content {
    font-size: 50px;
    color: #636b6f;
}

.auth-navbar {
    box-shadow: 0px 1px 1px #d3e0e9;
    background-color: #ffffff;
    position: fixed;
    width: 100vw;
}

.auth-main {
    margin-top: 30vh;
}

.auth-container {
    background-color: #ffffff;
    margin: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 50rem;
}

.auth-image {
    height: 50rem;
    width: 50%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: 1;
}

.auth-content {
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.card-header {
    font-size: large;
    text-transform: uppercase;
    align-content: center;
    margin-bottom: 20px;
}

.card-body {
    align-self: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 18px;
    padding: 10px 20px 10px 20px;
}

.btn-primary {
    color: #ffffff;
    background-color: #6200EE;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.forgot-password-btn {
    display: flex;
    justify-content: center;
}

.top-right-links>a:hover {
    color: #22b4a8;
}

.dropdown-user {
    list-style: none;
    position: absolute;
}

a.expand-more {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    display: inline-block;
}

a.expand-more:after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(45deg);
    margin-left: 12px;
    vertical-align: 2.7px;
}

a.expand-less {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    display: inline-block;
}

a.expand-less:after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(224deg);
    margin-left: 12px;
    vertical-align: -2.7px;
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.hamburger {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 1.4rem;
    text-decoration: none;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
    position: absolute;
    content: "";
    top: calc(50% - 2px);
    left: 1px;
    right: 0;
    margin: auto;
    width: 23px;
    height: 4px;
    background-color: #6200EE;
}

.hamburger span:before {
    margin-top: -8px;
    left: 0;
}

.hamburger span:after {
    margin-top: 8px;
    left: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

.sidebar-menu {
    position: fixed;
    background: #230056;
    left: 0;
    top: 0;
    width: 25%;
    max-width: 700px;
    z-index: 9;
    font-size: 14px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

span.close {
    position: absolute;
    right: 6px;
    top: 0;
    height: 44px;
    width: 44px;
    cursor: pointer;
}

span.close:after,
span.close:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 28px;
    background: #ffffff;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}

span.close:after {
    transform: rotate(-45deg);
}

.sidebar-container {
    height: 100%;
    overflow: auto;
    padding: 10px 1.75rem;
}

.sidebar-menu a.menu-logo {
    margin-bottom: 0.6rem;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

.sidebar-menu ul {
    padding-left: 10px;
    list-style: none;
}

.sidebar-menu ul li a {
    color: #ffffff;
}

ul,
ol {
    padding-left: 40px;
    margin-bottom: 0.5rem;
}

.sidebar-menu h3 {
    margin-top: 2rem;
    margin-bottom: 1.85rem;
}

h3 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.33;
}

.sidebar-menu.show {
    opacity: 1;
    visibility: visible;
}

/* Responsive */
@media screen and (max-width: 1090px) {
    .auth-container {
        background-color: #ffffff;
        margin: 50px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    .auth-image {
        height: 50vh;
        width: 50%;
        border-radius: 0px;
        flex: 1;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
}

@media (min-width: 1300px) {
    .sidebar-menu {
        left: calc(50% - 720px + 52px) !important;
    }
}

@media (min-width: 1200px) {
    .sidebar-menu {
        left: calc(50% - 570px) !important;
    }
}

@media (min-width: 992px) {
    .sidebar-menu {
        left: calc(50% - 480px) !important;
    }
}

@media (min-width: 768px) {
    .sidebar-menu {
        left: calc(50% - 360px) !important;
    }
}

@media (min-width: 576px) {
    .sidebar-menu {
        left: 0 !important;
    }
}
